@font-face {
  font-family: 'Days One';
  src: url("/css/fonts/days-one-v9-latin-regular.woff2") format('woff2');
  @include normal(400);
}
@font-face {
  font-family: 'Open Sans';
  src: url("/css/fonts/open-sans-v17-latin-regular.woff2") format('woff2');
  @include normal(400);
}
@font-face {
  font-family: 'Open Sans';
  src: url("/css/fonts/open-sans-v17-latin-italic.woff2") format('woff2');
  @include italic(400);
}