@import "_globals";
@import "normalize";
@import "mailchimp";

html {
  background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  line-height: 1.35;
  scroll-behavior: smooth;
  font: {
    size: 10px;
    family: Tahoma, sans-serif;
  }
}

body {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: {
    family: $headings;
    weight: 400;
  }
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  margin-top: 1rem;
}

.main-banner {
  width: 100vw;
  max-width: 100%;
  height: calc((424*100vw)/1920);
}

.menu__closed {
  background: center/cover no-repeat url("/img/main-banner.jpg");
}

.menu__open {
  background: top/contain no-repeat url("/img/main-banner.jpg");
  height: auto;
}

nav {
  margin-top: 2rem;
}

.main-navigation {
  list-style: none;
  padding: 1rem;
  margin: 0;
  background: $white;
  font-family: $headings;
}

#open {
  background: transparent;
  border: none;
  stroke: $white;
  stroke-width: 4;
  margin: 1.5rem 0 0 .5rem;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

ol,
p,
ul {
  font-size: 1.6rem;
}

a {
  color: $blue;

  &:hover {
    color: $yellow;
  }
}

.nav-link {
  color: $black;
  text-decoration: none;
}

.button {
  padding: 1rem 2rem;
  background: $white;
  color: $black;
  border-radius: 6px;
  text-decoration: none;
  font: {
    size: 2rem;
    family: $headings;
  }

  &:hover {
    background: $blue;
    color: $black;
    transition: .3s;
  }
}

.italic {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album__featured {
  width: 100%;
  max-width: 225px;
}

.arrow {
  margin: 2.5rem auto;
}

.container h2 {
  text-align: center;
}

.album-description {
  margin: 0;
  width: 225px;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }

  p {
    margin: .5rem 0 2.5rem;
  }
}

.player {
  margin: auto;
  width: 100%;
}

.player__featured {
  max-width: 300px;
}

.album__secondary {
  max-width: 100px;
}

.sub-hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 3rem;
  max-width: 400px;
}

.icons {
  width: 90%;
  max-width: 800px;
  display: grid;
  padding: 1rem 0;
  gap: 1.5rem;
  grid: {
    template-columns: repeat(3, 1fr);
    template-rows: repeat(2, 1fr);
  }

  img {
    max-width: 59px;
    filter: invert(100%);
  }
}

.newsletter p {
  margin-top: 1rem;
}

.mobile-hide {
  display: none;
}

.arrow-down {
  width: 100%;
  max-width: 100px;
}

.newsletter {
  margin: 2.5rem auto;
}
@media only screen and (min-width: 700px) {
  nav {
    margin-top: auto;
  }

  #open {
    display: none;
  }

  .main-banner {
    max-height: 200px;
    display: flex;
    flex-direction: column;
  }

  .main-navigation {
    background: transparent;
  }

  .mobile-hide {
    display: block;
  }

  .logo {
    max-width: 120px;
    margin: 0;
  }

  .nav-link {
    color: $white;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  ol,
  p,
  ul {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 2rem;
    padding: 0 .5rem;

    &:hover {
      background: $white;
      color: $black;
      transition: .3s;
    }
  }

  .hero {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-bottom: 5rem;
  }

  .album__featured {
    max-width: 400px;
  }

  .sub-hero {
    max-width: 800px;
    justify-content: space-evenly;
  }

  .album__secondary {
    width: 100%;
    max-width: 200px;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .arrow {
    margin: 6rem auto;
  }

  .newsletter {
    margin: 4rem auto;
  }
}
@media only screen and (min-width: 1000px) {
  .hero {
    max-width: 1400px;
    justify-content: space-evenly;
  }

  .album__featured {
    max-width: 500px;
    margin: 0;
  }

  .album-description {
    margin: 0;
  }

  .nav-link {
    font-size: 3rem;
  }

  .newsletter {
    margin-bottom: 6rem;
  }
}