@import "_fontmixins";
@import "_localfonts";
@import "_globals";
@import "normalize";
@import "mailchimp";

html {
  background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  line-height: 1.35;
  scroll-behavior: smooth;
  font: {
    size: 10px;
    family: $body;
    weight: 400;
  }
}

body {
  width: 100%;
  max-width: 100%;
}

main {
  background: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: {
    family: $headings;
    weight: 400;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}
// navigation

.banner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: $headings;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:after,
.menu-icon .navicon:before {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
// navigation

img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;

  &[height] {
    height: auto;
  }
}

ol,
p,
ul {
  font-size: 1.6rem;
}

a {
  color: $blue;

  &:hover {
    color: $yellow;
  }
}

.nav-link {
  color: $white;
  text-decoration: none;
}

.button {
  padding: 1rem 2rem;
  background: $white;
  color: $black;
  border-radius: 6px;
  text-decoration: none;
  font: {
    size: 2rem;
    family: $headings;
  }

  &:hover {
    background: $blue;
    color: $black;
    transition: .3s;
  }
}

.italic {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album__featured {
  width: 100%;
  max-width: 300px;
}

.container h2 {
  text-align: center;
}

.album-description {
  margin: 0;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }

  p {
    margin: .5rem 0 2.5rem;
  }
}

.player {
  margin: auto;
  width: 100%;
}

figcaption,
figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font: {
    family: $headings;
    size: 1.4rem;
    weight: 400;
  }
}

.album__secondary {
  max-width: 10.5rem;
}

.sub-hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  max-width: 400px;
}

.icons {
  width: 100%;
  max-width: 800px;
  display: grid;
  padding: 1rem 0;
  gap: 1.5rem;
  place-items: center;
  grid: {
    template-columns: repeat(3, 1fr);
    template-rows: repeat(2, 1fr);
  }

  img {
    max-width: 48px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.newsletter p {
  margin-top: 1rem;
}

.arrow-down {
  width: 100%;
  max-width: 100px;
}

.slideout {
  z-index: -1;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
@media only screen and (min-width: 700px) {
  .banner {
    display: flex;
    flex-direction: column;
  }

  .logo {
    max-width: 120px;
    margin: 0;
  }

  .nav-link {
    color: $white;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  ol,
  p,
  ul {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 2rem;
    padding: 0 .5rem;

    &:hover {
      background: $white;
      color: $black;
      transition: .3s;
    }
  }

  .hero {
    display: flex;
    width: 100%;
    max-width: 800px;
  }

  .album__featured {
    max-width: 400px;
  }

  .sub-hero {
    max-width: 800px;
    justify-content: space-evenly;
  }

  .album__secondary {
    width: 100%;
    max-width: 200px;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 1000px) {
  .hero {
    max-width: 1400px;
    justify-content: space-evenly;
  }

  .album__featured {
    max-width: 500px;
    margin: 0;
  }

  .album-description {
    margin: 0;
  }

  .nav-link {
    font-size: 3rem;
  }
}