<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if noindex -%}
        <meta name="robots" content="noindex">
    {%- endif %}
{#    <link rel="preload" href="/assets/fonts/archivo-v7-latin-700.woff2" type="font/woff2" as="font" crossorigin>#}
    <link rel="preload" href="/assets/fonts/bebas-kai.woff2" type="font/woff2" as="font" crossorigin>
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="canonical" href="https://www.frontroyalband.com{{ page.url }}">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Front Royal | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:site_name" content="www.frontroyalband.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@frontroyalband">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body {% if pageName %}class="{{ pageName }}"{% endif %}>
{{ content | safe }}
{% include 'partials/footer.njk' %}

<script>
    document.body.classList.add("js");
    {%- set js -%}
        {%- if page.fileSlug === "" -%}
            {%- include "js/index.js" -%}
        {%- else -%}
            {%- include "js/" + page.fileSlug + ".js" -%}
        {% endif %}
    {%- endset -%}
    {{ js | jsmin | safe }}
</script>
</body>
</html>
