<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Eleventy">

    {%- set domain = 'frontroyalband.com' -%}

    <link rel="preload" href="/assets/fonts/bebas-kai.woff2" type="font/woff2" as="font" crossorigin>
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="canonical" href="https://www.{{ domain }}{{ page.url }}">
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>Front Royal | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:site_name" content="www.{{ domain }}{{ page.url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@frontroyalband">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body {% if pageName %}class="{{ pageName }}"{% endif %}>

{% block content %}{% endblock %}

<footer class="footer-main">
    <nav class="footer-nav wrapper" data-constrain="most">
        <ul class="footer-links">
            <li><a class="animated-link" href="/">Home</a></li>
            <li><a class="animated-link" href="/about/">About</a></li>
            <li><a class="animated-link" href="https://merch.{{ domain }}/">Merch</a></li>
            <li><a class="animated-link" href="https://photos.{{ domain }}/">Photos</a></li>
            <li><a class="animated-link" href="https://newsletter.{{ domain }}/">Newsletter</a></li>
        </ul>
    </nav>
    <img src="/assets/img/icons/favicon-32x32.png" width="32" height="32" decoding="async" loading="lazy"
         alt="A hand drawn red rose over a blue background.">
    <p class="disclaimer">&copy; Front Royal, always.</p>
</footer>

<script type="module">
    document.body.classList.add("js");
</script>

{% block script %}
    {%- if js -%}
        <script type="module">{{ js | jsmin | safe }}</script>
    {%- endif -%}
{% endblock %}

</body>
</html>