---
title: The Band, Not The Town
description: Front Royal has an official website and you're looking at it right now.
layout: main
pageName: home
headline: The Thought That Counts
inline: >
  /* change some bandsintown styling */
  .bit-widget .bit-no-dates-container {
    padding: 5rem 0 !important;
  }
---
<header class="header">
  {% navigation %}
  <h1>{{ headline }}</h1>
</header>
<main>

  <article class="container__grid" id="listen">

    <section class="hero">
      <img class="album__featured" src="/img/ep3.jpg" alt="These Things Happen album cover">
      <div class="album-description">
        <h2>These Things Happen</h2>
        <ul>
          <li>Streaming Everywhere</li>
          <li>Buy on <a href="https://frontroyalmd.bandcamp.com/">Bandcamp</a></li>
        </ul>
        <iframe class="player player__featured" src="https://open.spotify.com/embed/album/17q2Qwv2jqrhVaX8iWX5wm" width="320" height="320" frameborder="0" allowtransparency="true" allow="encrypted-media"
          title="These Things Happen Spotify player"></iframe>
      </div>
    </section>

    <section class="sub-hero">
      <figure class="album">
        <img src="/img/more-music.jpg" alt="More Music">
      </figure>
      <figure class="album">
        <a href="https://frontroyalmd.bandcamp.com/album/all-down-hill-from-here"><img src="/img/ep2.jpg" alt="All Down Hill From Here album cover"></a>
        <figcaption>All Down Hill From Here</figcaption>
      </figure>
      <figure class="album">
        <a href="https://frontroyalmd.bandcamp.com/album/the-band-not-the-town"><img src="/img/ep1.jpg" alt="The Band, Not The Town album cover"></a>
        <figcaption>The Band, Not The Town</figcaption>
      </figure>
    </section>
  </article>

  <aside aria-hidden="true" class="arrow">
    <img id="two" src="/img/arrow-down-2.png" alt="">
  </aside>

  <article class="container" id="dates">

    <section class="content">
      <h2>Tour Dates</h2>
      <a class="bit-widget-initializer" data-artist-name="Front Royal" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#000000" data-link-color="#0a0a0a"
        data-background-color="rgba(0,0,0,0)" data-display-limit="15" data-link-text-color="#f5f5f5" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(255, 255, 255, 0.5)" data-display-start-time="true"
        data-font="Open Sans" data-display-logo="false"></a>
    </section>

  </article>

  <aside aria-hidden="true" class="arrow">
    <img id="one" src="/img/arrow-down-2.png" alt="">
  </aside>

  <article class="container" id="follow">
    <h2>Follow Us</h2>

    <section class="icons">
      <a href="https://frontroyalmd.bandcamp.com/"><img src="/img/bc.png" alt="Listen on Bandcamp"></a>
      <a href="https://instagram.com/frontroyal_official/"><img src="/img/insta.png" alt="Follow us on Instagram"></a>
      <a href="https://open.spotify.com/artist/1NfwIBuuWEk4d8c6LZftnD?si=7CjcwpNZTjipSVaXrLypLg"><img src="img/spotify.png" alt="Listen on Spotify"></a>
      <a href="https://facebook.com/FrontRoyalMD/"><img src="/img/fb.png" alt="Like us on Facebook"></a>
      <a href="https://twitter.com/frontroyalband"><img src="/img/twit.png" alt="Follow us on Twitter"></a>
      <a href="https://www.youtube.com/channel/UCm-KryhT3o9NZSbpG-M1qCQ/feed"><img src="/img/yt.png" alt="Subscribe to our YouTube channel"></a>
    </section>

    <section class="container">
      <img class="discord" src="/img/Discord-Logo+Wordmark-White.svg" alt="Discord Logo">
      <h3>Join Our Discord Server!</h3>
      <p>Come <a href="https://discord.gg/pmc4HgH" target="_blank" rel="noopener">join the party</a> and talk with us and all (y)our friends; it's a fun time.</p>
    </section>

    <section class="container newsletter">
      <h3>Sign Up For Our Newsletter</h3>
      <p>Like emails? Well, we send them sometimes.</p>
      <!-- Begin Mailchimp Signup Form -->
      {% mailchimp %}
      <!--End Mailchimp Signup Form -->
    </section>

  </article>
</main>

<!-- S C R I P T S -->
<script src="https://widget.bandsintown.com/main.min.js" async></script>
