<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if noindex -%}<meta name="robots" content="noindex">{%- endif %}
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="canonical" href="https://www.frontroyalband.com{{page.url}}">

    <!-- favicons -->
    <link rel="shortcut icon" href="/assets/img/site-icons/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
    <link rel="shortcut icon" href="/assets/img/site-icons/favicon-32x32.png" type="image/x-icon" sizes="32x32" />

    <!-- iOS 7 or prior (legacy) -->
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/site-icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/site-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/site-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/site-icons/apple-touch-icon-57x57.png">

    <!-- iOS 8 and later -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/site-icons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/site-icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/site-icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/site-icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/site-icons/apple-touch-icon-60x60.png">

    <!-- launcher (Android/Chrome) -->
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="/assets/css/sanitize.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>Front Royal | {{ title }}</title>
    <meta name="description" content="{{description}}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    <meta name="og:site_name" content="www.frontroyalband.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@frontroyalband">

    {%- if inline -%}
      <style>
        {{inline}}
      </style>
    {%- endif -%}

  </head>
  <body class="{{pageName}}">

    {{ content | safe }}
    <footer class="footer-main">
      <nav class="footer-nav wrapper" data-constrain="most">
        <ul class="footer-links">
          <li><a class="animated-link" href="/">Home</a></li>
          <li><a class="animated-link" href="/about">About</a></li>
          <li><a class="animated-link" href="https://teespring.com/stores/front-royal">Merch</a></li>
          <li><a class="animated-link" href="https://newsletter.frontroyalband.com">Newsletter</a></li>
        </ul>
      </nav>
      <img src="/assets/img/site-icons/apple-touch-icon-57x57.png" alt="">
      <p class="disclaimer">&copy; Front Royal, always.</p>
    </footer>

    <script>
      document.body.classList.add("js");
      const prefersReducedMotion = window.matchMedia("(prefers-reduced-motion: reduce)");
    </script>
  </body>
</html>
