<!doctype html>
<html lang="en" dire="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set theTitle %}{% if title %}{{ title | safe }}{% else %}{{ page.fileSlug | capitalize }}{% endif %}{% endset %}
    <title>{{ theTitle }} | {{ metadata.title }}</title>
    <!-- Troy Vassalotti, www.troyv.dev -->
    <!-- Find the source code at {{ metadata.repo }} -->

    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">

    {% block style %}
        <style>
            {% include 'css/sanitize.css' %}
            {% include 'css/main.css' %}
            {% if css %}
            {{ css | safe }}
            {% endif %}
        </style>
    {% endblock %}

    <!-- SEO -->
    {% set theDescription %}{% if description %}{{ description | safe }}{% else %}{{ theTitle }} - a page on {{ metadata.domain }}{% endif %}{% endset %}
    <meta name="description" content="{{ theDescription }}">
    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">

    <!-- Facebook Meta Tags -->
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{ theTitle }}">
    <meta name="og:description" content="{{ theDescription }}">
    <meta name="og:site_name" content="{{ metadata.domain }}">
    <meta property="og:image" content="{{ metadata.url }}/assets/img/tw-vid-1.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ theTitle }}">
    <meta name="twitter:description" content="{{ theDescription }}">
    <meta name="twitter:creator" content="@frontroyalband">
    <meta property="twitter:domain" content="{{ metadata.domain }}">
    <meta name="twitter:image" content="{{ metadata.url }}/assets/img/tw-vid-1.jpg">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>
{% set bodyClass %}{% if page.fileSlug == '' %}home{% else %}{{ page.fileSlug }}{% endif %}{% endset %}
<body class="{{ bodyClass }}">

{% block content %}{% endblock %}

{% include "partials/footer.njk" %}

{% block script %}
    <script type="module">
        {% if js %}
        {{ js | safe }}
        {% endif %}
    </script>
{% endblock %}

</body>
</html>