{% extends 'layouts/base.njk' %}

{% block style %}
    {{ super() }}
    <style>
        .album > * + * {
            margin-block-start: clamp(2rem, 10vw, 5rem);
        }

        .album__info {
            padding-block-start: 7%;
            text-align: center;
        }

        .album hr {
            inline-size: clamp(5rem, 50vw, 25rem);
        }
    </style>
{% endblock %}

{% block content %}
    <header class="flex-center col">
        {% include "partials/logo.njk" %}
    </header>
    <div class="album wrapper">
        <section class="album__info">
            <h1>{{ title }}</h1>
            {% if description %}
                <p class="album-description">{{ description }}</p>
            {% endif %}
        </section>
        <hr>
        <main>
            <lightbox-carousel>
                {% for image in photos[album] %}
                    {% image "./src/photos/" + image.path, image.name %}
                {% endfor %}
            </lightbox-carousel>
        </main>
    </div>
{% endblock %}
