@font-face {
  font-family: "Archivo";
  src: url("/assets/fonts/archivo-v7-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Archivo";
  src: url("/assets/fonts/archivo-v7-latin-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Archivo";
  src: url("/assets/fonts/archivo-v7-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Commissioner";
  src: url("/assets/fonts/commissioner-v1-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Commissioner";
  src: url("/assets/fonts/commissioner-v1-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --mainGap: 3ex;
  --smGap: 1.5ex;
  --headings: "Archivo", Verdana, sans-serif;
  --body: "Commissioner", Tahoma, sans-serif;
  --black: #0a0a0a;
  --white: #f5f5f5;
  --blue: #7fcacd;
  --yellow: #e2b33c;
  --grey: #7a7a7a;
  --overlay: rgba(0, 0, 0, 0.3);
  --step--2: clamp(0.9113rem, 0.8922rem + 0.0951vw, 0.96rem);
  --step--1: clamp(1.0938rem, 1.0523rem + 0.2073vw, 1.2rem);
  --step-0: clamp(1.3125rem, 1.2393rem + 0.3659vw, 1.5rem);
  --step-1: clamp(1.575rem, 1.4579rem + 0.5854vw, 1.875rem);
  --step-2: clamp(1.89rem, 1.7129rem + 0.8854vw, 2.3438rem);
  --step-3: clamp(2.2681rem, 2.0098rem + 1.2915vw, 2.93rem);
  --step-4: clamp(2.7219rem, 2.355rem + 1.8341vw, 3.6619rem);
  --step-5: clamp(3.2656rem, 2.7537rem + 2.5598vw, 4.5775rem);
}

html {
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  line-height: 1.35;
  scroll-behavior: smooth;
  min-height: 100vh;
  font-family: var(--body);
  font-weight: 400;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--step--1);
}

.slideout-top {
  background: var(--black);
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* if javascript is disabled, hide the bandcamp iframe */
body:not(.js) noscript + iframe {
  display: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: var(--headings);
  font-weight: 700;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;
}

img[height] {
  height: auto;
}

.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: auto;
}

.wrapper[data-constrain="some"] {
  max-width: 1300px !important;
}

.wrapper[data-constrain="more"] {
  max-width: 1100px !important;
}

.wrapper[data-constrain="most"] {
  max-width: 600px !important;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

*[data-state="reversed"] {
  flex-direction: column-reverse !important;
}

.full {
  width: 100%;
}

.grid {
  display: grid;
  gap: var(--mainGap);
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.place-center {
  place-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.logo a {
  display: inline-block;
  width: auto;
  height: auto;
}

.logo img {
  width: clamp(100px, 50vw, 200px);
}

.backdrop {
  background-image: url("/assets/img/tttc-wallpaper-blur.jpg");
  background-color: var(--blue);
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-attachment: fixed;
}

.overlay {
  background: var(--overlay);
}

#listen h1 {
  font-variant: small-caps;
  line-height: 1.5ch;
}

#listen .video-embed {
  max-width: 900px;
}

#listen span.smaller {
  font-size: var(--step--1);
}

.video-embed {
  display: block;
  margin-bottom: clamp(1ch, 5vw, 3ch);
  contain: content;
  position: relative;
  width: 100%;
  margin-inline: auto;
}

.video-embed::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}

.video-embed iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero {
  display: grid;
  gap: var(--mainGap);
  grid-template-columns: 1fr;
  max-width: 700px;
  margin: auto;
}

.hero img {
  box-shadow: 0 0 25px 2px var(--black);
  width: 100%;
  max-width: 500px;
}

#cta {
  padding: 2em 0;
}

.skewed-background {
  position: relative;
  padding: var(--skew-padding);
}

.skewed-background::before {
  position: absolute;
  top: -10px;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--skew-color);
  transform: skewy(-3deg);
}

.skewed-background .content {
  position: relative;
  color: var(--skew-text);
  background: var(--skew-color);
}

#follow {
  --skew-padding: 3ch 0 7ch;
  --skew-color: var(--white);
  --skew-text: var(--black);
}

#newsletter {
  margin-top: 5ch;
}

.icons {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* because the icons are flexbox and safari doesn't support gap properties in flexbox */
.icons a {
  margin: 1.5ex;
}

.icons img {
  max-width: 48px;
  transition: .2s ease;
}

.icons img:hover {
  filter: contrast(10%);
}

.arrow {
  position: relative;
  width: 100%;
  height: 175px;
  margin: clamp(3ch, 4vw, 3ch) 0;
}

.arrow img {
  position: absolute;
  max-height: 175px;
}

.arrow .ccw {
  right: 55vw;
  transform: rotate(-25deg) scaleX(-1);
}

.arrow .cw {
  left: 55vw;
  transform: rotate(25deg);
}
/* for animating */
.js .animated-content {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

.js .animated-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.js .spinner {
  animation-name: spinner;
  animation-duration: 900ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(300%);
    opacity: 0;
  }

  100% {
    transform: rotate(540deg) scale(100%);
    opacity: 1;
  }
}

.slideout {
  z-index: -2;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.disclaimer {
  font-size: var(--step--2);
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--yellow);
}

.button {
  display: inline-block;
  padding: 1ex 2ex;
  background: var(--black);
  color: var(--white);
  border-radius: 6px;
  text-decoration: none;
  transition: .3s ease-out;
  font-size: var(--step-1);
  font-family: var(--headings);
  font-weight: 700;
}

.button:hover {
  background: var(--yellow);
  color: var(--black);
}

#mailto {
  color: var(--black);
}

#merch .store-banner {
  width: 100%;
  max-width: 1020px;
}

#merch .button {
  background: var(--blue);
  color: var(--black);
  margin-block-start: 2ch;
  font-size: var(--step-0);
}

#merch .button:hover {
  background: var(--yellow);
}

.footer-main {
  font-size: var(--step--1);
  margin-block-start: auto;
}

.footer-main .disclaimer {
  text-align: center;
}

.footer-main img {
  border-radius: 50%;
}

.footer-links {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: var(--headings);
}

.footer-links a {
  text-decoration: none;
  color: var(--white);
}

a.animated-link {
  position: relative;
  text-decoration: none;
}

a.animated-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: .06em;
  width: 100%;
  background-color: currentColor;
  transition: transform 400ms ease-out;
}

a.animated-link:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}

a.animated-link::before {
  transform: scaleX(1);
  transform-origin: left;
}

.about h1 {
  margin-bottom: 0;
}

.about .header {
  margin-bottom: 5ch;
}

.about .icons img {
  filter: invert(100%);
}

.about .icons img:hover {
  filter: invert(100%) contrast(2%);
}

.statistics {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.featured-image {
  margin-inline: 0;
  font-size: var(--step--2);
}

.featured-image img {
  max-width: 100%;
}

.stat-box {
  flex: 1;
}

.stat-box .metric {
  font-size: var(--step-2);
  font-family: var(--headings);
  font-weight: 700;
  margin: 0;
}

.biography {
  font-size: var(--step--1);
}

.biography__short summary {
  font-size: var(--step-1);
  font-family: var(--headings);
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
/* ======================
  Contact Form Styles
  ======================= */
.contact-form {
  border-radius: 2ex;
  padding: 2ex;
  margin: auto;
  background: var(--black);
  color: var(--white);
  max-width: 800px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  margin: 1ch 0;
  font-size: var(--step--1);
  font-family: var(--headings);
  font-weight: 700;
}

#email,
#message,
#name {
  padding: 1ch;
  margin-top: 1ch;
  border-radius: 1ex;
  border-color: transparent;
}

#message {
  height: 10ch;
}

#submit {
  border-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background: var(--white);
  color: var(--black);
  font-size: var(--step--1);
}

#submit:hover {
  background: var(--yellow);
}

#contact {
  --skew-padding: 3ch 0 6ch;
  --skew-color: var(--blue);
  --skew-text: var(--black);
  margin-block: 5em;
}

.merch-preview {
  padding: 1ch;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.merch-preview figure {
  margin: 0;
}

.merch-preview img {
  transition: .3s ease;
  width: 100%;
}

.merch-preview img:hover {
  filter: opacity(.6);
}
/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */
#mc_embed_signup {
  font-size: var(--step--1);
}

#mc_embed_signup input.email {
  border: 1px solid var(--grey);
  border-radius: 3px;
  color: var(--grey);
  background-color: var(--white);
  padding: .5em;
  display: inline-block;
  margin: 0 0 1ch;
  font-family: var(--headings);
}

#mc_embed_signup label {
  display: block;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

#mc_embed_signup fieldset {
  padding: 0;
  margin: 0;
}

#mc_embed_signup fieldset label {
  font-weight: normal;
}

#mc_embed_signup .button {
  border: none;
  margin: 0;
  transition: all .23s ease-in-out 0s;
  font-size: var(--step--1);
}

#mc_embed_signup .button:hover {
  cursor: pointer;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0 .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

.mc-field-group {
  display: block;
  width: 100%;
}

#mc-embedded-subscribe-form .mc_fieldset {
  border: none;
  min-height: 0;
  padding-bottom: 0;
}

#mc-embedded-subscribe-form input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 1ch;
}

.mc_a11y_label {
  width: 100%;
  padding: 3px 0;
  margin-bottom: .5em;
  font-family: var(--headings);
  font-weight: 700;
}

.mc_a11y_fix {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  .mc_a11y_fix {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    align-items: end;
    max-width: none;
  }

  .statistics {
    flex-direction: row;
  }

  .merch-preview {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (prefers-reduced-motion) {
  * {
    animation: none !important;
  }

  .js .animated-content {
    opacity: 1;
    transform: translateY(0);
  }

  a.animated-link {
    text-decoration: underline;
  }

  a.animated-link::before {
    width: 0;
  }
}