---
title: Oops, a 404
description: This page does not exist... yikes!
layout: main
pageName: error
noindex: true
permalink: /404.html
---
<header class="flex-center">
    {% logoHeader %}
</header>
<main class="flex-center col full">
    <section class="center">
        <h1>{{ title }}</h1>
        <p>Well, it looks like the page you were trying to get to doesn't exist.</p>
        <p>You can <a href="/">go back home</a> if you'd like though.</p>
    </section>
</main>
