@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3rem;
  }

  .hero {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: none;

    img {
      max-width: none;
    }
  }

  ol,
  p,
  ul {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  :root {
    --smGap: 3em;
    --mainGap: 5em;
  }
}
