@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3rem;
  }

  .header::before {
    --banner: url("/assets/img/banner.jpg");
  }

  .banner {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  .menu-icon {
    display: none;
  }

  #navigation {
    display: flex;
    padding: 0;
  }

  .navigation {
    padding-left: 0.5rem;
    text-align: left;
    max-height: inherit;
  }

  .nav-link {
    font-size: 2rem;
    padding: 0 0.5rem;

    &:hover {
      background: $white;
      color: $black;
      transition: 0.3s;
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  ol,
  p,
  ul {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  :root {
    --smGap: 3rem;
    --mainGap: 5rem;
  }

  .logo img {
    max-width: 150px;
  }

  .nav-link {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1700px) {
  .header::before {
    background-position: top -90px left 0;
  }
}
