---
title: The Band, Not The Town
description: Front Royal has an official website and you're looking at it right now.
layout: main
pageName: home
headline: The Thought That Counts
---
<main class="slideout-top">
    <div class="full backdrop">
        <div class="overlay">
            <div class="full" id="listen">
                <section class="wrapper center" data-constrain="some">
                    <header class="flex-center col">
                        {% logoHeader %}
                        <div class="welcome full">
                            <div class="welcome-text">
                                <h1>The Thought That Counts<br><span class="smaller italic">Available Everywhere</span>
                                </h1>
                            </div>
                            <div class="welcome-content">
                                <p>Check out the <span class="italic">Teamwork</span> music video below.</p>
                                <div class="video-embed">
                                    <iframe width="1060" height="596"
                                            src="https://www.youtube-nocookie.com/embed/meqc5CPdTfo"
                                            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/meqc5CPdTfo?autoplay=1><img src=https://img.youtube.com/vi/meqc5CPdTfo/hqdefault.jpg alt='Teamwork - Official Music Video by Front Royal'><span>&#x25BA;</span></a>"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen
                                            title="Teamwork - Official Music Video by Front Royal"></iframe>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="hero full">
                        <div>
                            <picture>
                                <source srcset="/assets/img/tttc.avif" type="image/avif">
                                <img src="/assets/img/tttc.jpg" alt="The Thought That Counts album cover">
                            </picture>
                        </div>
                        <div>
                            <p>Listen to <span class="italic">The Thought That Counts</span> right here, right now.</p>
                            <noscript>
                                <p>You don't have JavaScript enabled, but this is where an embedded player from Bandcamp
                                    would have showed up. You can click the button below instead to go directly to our
                                    Bandcamp page, but I can't gurantee that'll work without JavaScript either.</p>
                                <a class="button" href="https://frontroyalmd.bandcamp.com/" target="_blank"
                                   rel="noopener">Visit Bandcamp</a>
                            </noscript>
                            <iframe style="border: 0; width: 100%; height: 472px; max-width: 500px;"
                                    src="https://bandcamp.com/EmbeddedPlayer/album=40123073/size=large/bgcol=333333/linkcol=4ec5ec/artwork=none/transparent=true/"
                                    seamless loading="lazy" title="The Thought That Counts album embed from Bandcamp"><a
                                        href="https://frontroyalmd.bandcamp.com/album/the-thought-that-counts">The
                                    Thought That Counts by Front Royal</a></iframe>
                        </div>
                    </div>
                    <section id="cta">
                        <a class="button" href="https://frontroyalmd.bandcamp.com/album/the-thought-that-counts"
                           target="_blank" rel="noopener">Buy The Album Now</a>
                    </section>
                </section>
            </div>
            <div class="arrow animated-content">
                <img class="cw" src="/assets/img/arrow-down-2.png" alt="">
            </div>
            <article class="full skewed-background" id="follow">
                <div class="wrapper">
                    <section class="content center">
                        <h2>Follow Us</h2>
                        <div class="icons full flex-center wrap">
                            {% for social in social.socialmedia %}
                                <a href="{{ social.href }}" target="_blank" rel="noopener">
                                    <img class="spin-me" src="/assets/img/{{ social.img }}" alt="{{ social.label }}"
                                         loading="lazy" width="48" height="48">
                                </a>
                            {% endfor %}
                        </div>
                        <div class="wrapper" id="newsletter" data-constrain="most">
                            <section class="flex-center col center content">
                                <h3>Sign Up For Our Newsletter</h3>
                                <!-- Begin Mailchimp Signup Form -->
                                {% mailchimpGDPR %}
                                <!--End Mailchimp Signup Form -->
                            </section>
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </div>
    <div class="arrow animated-content">
        <img class="ccw" src="/assets/img/arrow-down-2.png" alt="">
    </div>
    <article class="full" id="merch">
        <div class="wrapper center" data-constrain="more">
            <h2>We've Got Merch</h2>
            <div class="grid merch-preview">
                <figure>
                    <a href="https://teespring.com/crown-hoodie-pull-over?cid=2666&page=1&pid=227&tsmac=store&tsmic=front-royal"><img
                                src="/assets/img/merch-hoodie_1.jpg" alt="Hoodie with Front Royal logo"></a>
                    <figcaption>Hoodies</figcaption>
                </figure>
                <figure>
                    <a href="https://teespring.com/new-front-royal-logo-t-shirt?cid=101361&page=1&pid=46&tsmac=store&tsmic=front-royal"><img
                                src="/assets/img/merch-tshirt_1.jpg" alt="T-shirt with Front Royal logo"></a>
                    <figcaption>T-Shirts</figcaption>
                </figure>
                <figure>
                    <a href="https://teespring.com/front-royal-modern?cid=5854&page=1&pid=76&tsmac=store&tsmic=front-royal"><img
                                src="/assets/img/merch-tshirt_2.jpg"
                                alt="T-shirt with a different Front Royal logo"></a>
                    <figcaption>V-Necks</figcaption>
                </figure>
                <figure>
                    <a href="https://teespring.com/album-artwork-tote-bag?cid=104188&page=1&pid=1121&tsmac=store&tsmic=front-royal"><img
                                src="/assets/img/merch-gaiter.jpg" alt="Face mask with Front Royal album artwork"></a>
                    <figcaption>Gaiters / Masks</figcaption>
                </figure>
                <figure>
                    <a href="https://teespring.com/album-artwork-hoodie-pull-over?cid=6083&page=1&pid=227&tsmac=store&tsmic=front-royal"><img
                                src="/assets/img/merch-hoodie_2.jpg"
                                alt="Pull Over Sweatshirt with Front Royal logo"></a>
                    <figcaption>Pull Overs</figcaption>
                </figure>
                <figure>
                    <a href="https://teespring.com/album-artwork-tote-bag?cid=101936&page=1&pid=526&tsmac=store&tsmic=front-royal"><img
                                src="/assets/img/merch-tote_bag.jpg" alt="Tote Bag with Front Royal album artwork"></a>
                    <figcaption>Tote Bags</figcaption>
                </figure>
            </div>
            <a class="button" href="https://teespring.com/stores/front-royal">Shop Merch</a>
        </div>
    </article>
    <div class="arrow animated-content">
        <img class="cw" src="/assets/img/arrow-down-2.png" alt="">
    </div>
    <article class="full" id="dates">
        <section class="wrapper center">
            <h2>Dates</h2>
            <a class="bit-widget-initializer" data-artist-name="Front Royal" data-display-local-dates="false"
               data-display-past-dates="true" data-auto-style="false" data-text-color="#f5f5f5"
               data-link-color="#f5f5f5" data-background-color="#0a0a0a" data-display-limit="15"
               data-link-text-color="#0a0a0a" data-display-lineup="false" data-display-play-my-city="false"
               data-separator-color="rgba(255, 255, 255, 0.5)" data-display-start-time="true" data-font="var(--body)"
               data-display-logo="false"></a>
            <noscript>
                <p>You don't have JavaScript enabled, but this is where a widget from Bandsintown would have appeared.
                    It shows current or upcoming tour dates, as well as previous tour dates. Sorry you can't see that
                    right now.</p>
            </noscript>
        </section>
    </article>
</main>
<aside class="slideout">
    <picture>
        <source srcset="/assets/img/footer.avif" type="image/avif">
        <img src="/assets/img/footer.jpg" alt="" loading="lazy">
    </picture>
</aside>
