<article class="full skewed-background" id="covers">
    <div class="wrapper">
        <section class="content center">
            <h2 class="font-lg-3">Front Royal Goes Pop</h2>
            <div class="u-grid" data-grid-columns="fluid">
                {{ bandcampFrameSm("1330083917", "cardigan", "cardigan cover by Front Royal") }}
                {{ bandcampFrameSm("3121179248", "afterglow", "Afterglow cover by Front Royal") }}
                {{ bandcampFrameSm("230480458", "always-do", "Always Do cover by Front Royal") }}
                {{ bandcampFrameSm("3376776889", "be-kind", "Be Kind cover by Front Royal") }}
                {{ bandcampFrameSm("116106972", "hold-on", "Hold On cover by Front Royal") }}
            </div>
            <a href="{{ bandcamp.url }}" class="button">Listen To More</a>
        </section>
    </div>
</article>
<style>
    #covers {
        --skew-direction: 3deg;
        --skew-padding: 3ch 0 7ch;
        --skew-text: var(--black);
    }
    #covers::before {
        background-attachment: local;
        background-attachment: fixed;
        background-color: rebeccapurple;
        background-blend-mode: luminosity;
        background-image: url("/assets/img/covers-red.jpg");
        background-position: top;
        background-size: cover;
    }
    #covers .content {
        padding-block: 2rem;
    }
    #covers .content .grid {
        justify-items: center;
        margin-block-end: 2rem;
    }
</style>