<footer class="footer-main">
    <nav class="footer-nav wrapper" data-constrain="most">
        <ul class="footer-links">
            <li><a class="animated-link" href="/">Home</a></li>
            <li><a class="animated-link" href="/about">About</a></li>
            <li><a class="animated-link" href="https://front-royal.creator-spring.com/">Merch</a></li>
            <li><a class="animated-link" href="https://newsletter.frontroyalband.com">Newsletter</a></li>
        </ul>
    </nav>
    <img src="/assets/img/site-icons/apple-touch-icon-57x57.png" alt="">
    <p class="disclaimer">&copy; Front Royal, always.</p>
</footer>