<footer class="footer-main">
    <nav class="footer-nav wrapper" data-constrain="most">
        <ul class="footer-links">
            <li><a class="animated-link" href="/">Home</a></li>
            <li><a class="animated-link" href="/about">About</a></li>
            <li><a class="animated-link" href="{{ metadata.merch }}">Merch</a></li>
            <li><a class="animated-link" href="{{ metadata.photos }}">Photos</a></li>
            <li><a class="animated-link" href="/song-generator">Song Generator</a></li>
        </ul>
    </nav>
    <img src="/assets/img/icons/favicon-32x32.png" width="32" height="32" decoding="async" loading="lazy"
         alt="A hand drawn red rose over a blue background.">
    <p class="disclaimer">&copy; {{ metadata.title }}, always.</p>
</footer>