<article class="full" id="merch">
    <div class="wrapper center" data-constrain="more">
        <h2>We've Got Merch</h2>
        <div class="grid merch-preview">
            <figure>
                <a href="https://teespring.com/crown-hoodie-pull-over?cid=2666&page=1&pid=227&tsmac=store&tsmic=front-royal"><img
                            src="/assets/img/merch-hoodie_1.jpg" alt="Hoodie with Front Royal logo"></a>
                <figcaption>Hoodies</figcaption>
            </figure>
            <figure>
                <a href="https://teespring.com/new-front-royal-logo-t-shirt?cid=101361&page=1&pid=46&tsmac=store&tsmic=front-royal"><img
                            src="/assets/img/merch-tshirt_1.jpg" alt="T-shirt with Front Royal logo"></a>
                <figcaption>T-Shirts</figcaption>
            </figure>
            <figure>
                <a href="https://teespring.com/front-royal-modern?cid=5854&page=1&pid=76&tsmac=store&tsmic=front-royal"><img
                            src="/assets/img/merch-tshirt_2.jpg"
                            alt="T-shirt with a different Front Royal logo"></a>
                <figcaption>V-Necks</figcaption>
            </figure>
            <figure>
                <a href="https://teespring.com/album-artwork-tote-bag?cid=104188&page=1&pid=1121&tsmac=store&tsmic=front-royal"><img
                            src="/assets/img/merch-gaiter.jpg" alt="Face mask with Front Royal album artwork"></a>
                <figcaption>Gaiters / Masks</figcaption>
            </figure>
            <figure>
                <a href="https://teespring.com/album-artwork-hoodie-pull-over?cid=6083&page=1&pid=227&tsmac=store&tsmic=front-royal"><img
                            src="/assets/img/merch-hoodie_2.jpg"
                            alt="Pull Over Sweatshirt with Front Royal logo"></a>
                <figcaption>Pull Overs</figcaption>
            </figure>
            <figure>
                <a href="https://teespring.com/album-artwork-tote-bag?cid=101936&page=1&pid=526&tsmac=store&tsmic=front-royal"><img
                            src="/assets/img/merch-tote_bag.jpg" alt="Tote Bag with Front Royal album artwork"></a>
                <figcaption>Tote Bags</figcaption>
            </figure>
        </div>
        <a class="button" href="https://teespring.com/stores/front-royal">Shop Merch</a>
    </div>
</article>