<div class="wrapper statistics center" data-constrain="more">
    <div class="stat-box">
        <p class="metric"><span id="listeners">22</span>k+</p>
        <p>Listeners on Spotify</p>
    </div>
    <div class="stat-box">
        <p class="metric"><span id="streams">63</span>k+</p>
        <p>Streams on Spotify and Apple Music</p>
    </div>
    <div class="stat-box">
        <p class="metric"><span id="plays">8</span>k+</p>
        <p>Plays on Bandcamp</p>
    </div>
</div>